$white: #fff;
$grey: #f5f6f7;
$black: #1b1d1f;
$red: #fc423b;

body {
  background-color: $white;
  margin:0;
}

h1{
  font-family: futuramediumc;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  color: $white;
}

h2{
  font-family: futuramediumc;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

h3{
  font-family: GothamPro;
  font-size: 35px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: $red;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

h4{
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 20px;
  line-height: 1.55;
  letter-spacing: normal; 
  color: $white;
}

h6{
  opacity: 0.34;
  font-family: GothamPro;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  padding-top: 5px;
}

p{
  font-family: GothamPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $white;
  margin: 0;
}

.header__bg{
  background-image: url(img/bg.png);
  width: 100%;
  height: 635px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.logo{
  display: flex;
  background-image: url(img/logo.svg);
  width: 167px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:25%;
  margin-top:124px;
}

.header__text{
  margin-left:25%;
  padding-top:30px;
  width: 555px;
}

.header__right{
  align-self: center;
  align-content: flex-end;
  margin-top: 50px;
  margin-right: 5%;
}

.header__narval{
  display: flex;
  background-image: url(img/narval.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 586px;
  height: 503px;
}

.advantages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.advantages__headline{
  margin-top:100px;
  margin-bottom: 60px;
}

.advantages__box{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  border: solid 4px $grey;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.check{
  background-image: url(./img/check.svg);
  margin-left: 50px;
  margin-right: 50px;
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
}

.advantages__box {
  h4 {
    color: $black;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    margin: 0;
    width: 764px;
  }
}

.details__headline{
  margin-top:110px;
  margin-bottom:0px;
}

.details__bg{
  h6 {
    color: $black;
    margin: 0;
  }
}

.details__cards{
  display: flex;
  justify-content: center;
  justify-content: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  flex-wrap: wrap;
}

.details__card_green{
  margin-left: 25px;
  margin-right: 25px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  margin-top: 50px;
  background-image: radial-gradient(circle at 50% 81%, rgba(105, 155, 21, 0.5), #82bb23), linear-gradient(to bottom, #82bb23, #82bb23);
  display: flex;
  align-items: flex-end;
}

.details__card_green{
  p{
    padding: 190px 40px 40px 40px;
  }
}

.details__card_blue{
  margin-left: 25px;
  margin-right: 25px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  margin-top: 50px;
  background-image: radial-gradient(circle at 50% 81%, rgba(45, 141, 198, 0.5), #2eaffb), linear-gradient(to bottom, #2eaffb, #2eaffb);
  display: flex;
  flex-direction: column;
}

.details__card_blue{
  p{
    padding-top: 192px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
  }
  h6{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: $white;
    text-align: start;
  }
}

.details__card_purple{
  margin-left: 25px;
  margin-right: 25px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  margin-top: 50px;
  background-image: radial-gradient(circle at 50% 81%, rgba(142, 94, 173, 0.5), #aa7cc8), linear-gradient(to bottom, #aa7cc8, #aa7cc8);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.details__card_purple{
  p{
    padding-top: 190px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
  }
  h6{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: left;
    color: $white;
  }
}

.details__card_yellow{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  background-image: radial-gradient(circle at 50% 81%, rgba(226, 178, 26, 0.5), #fecc2f), linear-gradient(to bottom, #fecc2f, #fecc2f);
  display: flex;
  align-items: flex-end;
}

.details__card_yellow{
  p{
    padding: 190px 40px 40px 40px;
  }
}

.details__card_red{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  width: 610px;
  height: 350px;
  border-radius: 8px;
  background-image: radial-gradient(circle at 31% 76%, rgba(194, 47, 41, 0.26), #fc423b), linear-gradient(to bottom, #fc423b, #fc423b);
  display: flex;
  align-items: flex-end;
}

.details__card_red{
  p{
    width: 200px;
    padding-top: 238px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

.contact__main{
  height: 567px;
  border-radius: 2px;
  background-color: #11369e;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contact__main{
  h2{
    color: $white;
    padding-left: 100px;
    padding-top: 100px;
    margin: 0;
    text-align: left;
  }
  h4{
    color: $white;
    padding-left: 100px;
    text-align: left;
    padding-top: 20px;
    margin: 0;
  }
}

form{
  margin: 0;
  padding-left: 100px;
  padding-bottom: 70px;
  padding-top: 30px;
}

input{
  margin-top: 15px;
  margin-bottom: 15px;
}

.card{
  width: 360px;
  height: 476px;
  background-image: url(img/card1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .header__narval {
    display: none;
  }
  .header__right {
    display: none;
  }

  .header__left {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header__text {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;

    h4{
      margin-bottom: 0;
    }
  }

  .header__bg {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .advantages__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 30px 30px 30px;
    margin-left: 10%;
    margin-right: 10%;

    h4{
      width: auto;
      padding-right: 0;
      padding-bottom: 10px;
    }
    
    .check{
      margin-left:0;
    }
  }

  .details__card_red{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    width: 280px;
    height: 350px;
    border-radius: 8px;
    background-image: radial-gradient(circle at 31% 76%, rgba(194, 47, 41, 0.26), #fc423b), linear-gradient(to bottom, #fc423b, #fc423b);
    display: flex;
    align-items: flex-end;
  }
  
  .details__card_red{
    p{
      padding: 190px 40px 40px 40px;
    }
  }

  .contact__main{
    h4{
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header__left {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .details__cards{
    margin-left: 10%;
    margin-right: 10%;
  }

  .details__card_green{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
      p{
        text-align: center;
        padding-top: 40px;
      }
  }

  .details__card_blue{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
      p{
        text-align: center;
        padding-top: 40px;
      }
      h6{
        text-align: center;
      }
  }

  .details__card_purple{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
      p{
        text-align: center;
        padding-top: 40px;
      }
      h6{
        text-align: center;
      }
  }

  .details__card_yellow{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-end;
      p{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
      }
  }

  .details__card_red{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-end;
      p{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
      }
  }
}

@media screen and (max-width: 500px) {
  h1{
    font-size: 30px;
  }

  .advantages__headline{
      margin-top: 50px;
      margin-bottom: 30px;
  }

  .details__headline{
    margin-top: 60px;
  }

  .contact__main{
    margin-top: 100px;
      h2{
        font-size: 20px;
        padding: 30px 30px 20px 30px;
      }
      h4{
        font-size: 15px; 
        padding: 0px 30px 20px 30px;
      }
  }

}